@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<a asp-controller="Roles" asp-action="Create">Add Role</a> |
<a asp-controller="Roles" asp-action="AddUser">Add User to Role</a> |
<a asp-controller="Roles" asp-action="DeleteUser">Delete User From Role</a>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <a asp-controller="Roles" asp-action="Delete">Delete</a>
        </td>
    </tr>
}

</table>
