@model DiplomaWebSite.Models.Choice

@{
    ViewBag.Title = "Choices - Create Page";
}

<h3>Choose your Options</h3>

<hr />

<div>
    <form asp-controller="Choice" asp-action="Create" method="post">
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="StudentId"></label>
            <input asp-for="StudentId" class="form-control" value="@ViewBag.curentUserId" readonly/>
            <span asp-validation-for="StudentId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="StudentFirstName"></label>
            <input asp-for="StudentFirstName" class="form-control" placeholder="First Name" />
            <span asp-validation-for="StudentFirstName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="StudentLastname"></label>
            <input asp-for="StudentLastname" class="form-control" placeholder="Student Last Name" />
            <span asp-validation-for="StudentLastname" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="FirstChoiceOptionId"></label>
            <select asp-for="FirstChoiceOptionId" asp-items="ViewBag.FirstChoiceOptionId" class="form-control"></select>
            <span asp-validation-for="FirstChoiceOptionId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="SecondChoiceOptionId"></label>
            <select asp-for="SecondChoiceOptionId" asp-items="ViewBag.SecondChoiceOptionId" class="form-control"></select>
            <span asp-validation-for="SecondChoiceOptionId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ThirdChoiceOptionId"></label>
            <select asp-for="ThirdChoiceOptionId" asp-items="ViewBag.ThirdChoiceOptionId" class="form-control"></select>
            <span asp-validation-for="ThirdChoiceOptionId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="FourthChoiceOptionId"></label>
            <select asp-for="FourthChoiceOptionId" asp-items="ViewBag.FourthChoiceOptionId" class="form-control"></select>
            <span asp-validation-for="FourthChoiceOptionId" class="text-danger"></span>
        </div>

        <input type="submit" class="btn btn-default" value="Create" />
    </form>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}
